.info {
  text-align: justify;
  line-height: 23px;
  width: 680px;
  font-size: 13px;
  color: gray;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.request {
  text-align: center;
  font-size: 16px;
}